label
{
    display: block;
    padding: 5px;
}
form
{
    text-align: center;
    background-color: aqua;
    margin:0px 300px 0px 300px;
}
h1
{
    text-align: center;
    background-color: gray;
    margin:0px 300px 0px 300px;
}
#submit
{
    padding: 10px;
}
input[type=submit]{
    background-color:aqua ;
}
input[type=submit]:hover{
    background-color: bisque ;
}